<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Anne Parez</title>
<style>
.WordSection1{ width:700px;  position:relative;}
</style>
</head>

<body>
<div class=WordSection1>
    <p class=MsoNormal align=center style='text-align:center'><span class="MsoNormal" style="text-align:center"><span style="position:absolute;z-index:251657728;left:0px;margin-left:0px;margin-top:
0px;width:96px;height:38px"><img width=96 height=38
src="image001.jpg" alt="康得新" /></span></span><a
name="OLE_LINK1"></a><span lang=EN-US style='font-size:22.0pt;font-family:宋体'>索赔申请表</span></p>
    <p class=MsoNormal><span lang=EN-GB style='font-size:20.0pt;font-family:宋体;text-align:right; display:block;'>理赔单号：&nbsp;75ABAD3E-A5F3-4790-8C11-33BA9420A580</span></p>
    <table class=MsoNormalTable border=1 cellspacing=0 cellpadding=0 width="100%"
 style='width:100.0%;border-collapse:collapse;border:none'>
        <tr>
            <td colspan=6 valign=top style='width:30.84%;border:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>申请经销商</span></p></td>
            <td colspan=21 valign=top style='width:69.16%;border:solid windowtext 1.0pt;
  border-left:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>郑州龙驰</span></p></td>
        </tr>
        <tr>
            <td colspan=6 valign=top style='width:30.84%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>经销商级别</span></p></td>
            <td colspan=6 valign=top style='width:22.66%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>A:</span><span
  style='font-size:12.0pt;font-family:宋体'>大区</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;
                    是</span></p></td>
            <td colspan=10 valign=top style='width:23.36%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>B</span><span
  style='font-size:12.0pt;font-family:宋体'>：省级</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;
                    </span></p></td>
            <td colspan=5 valign=top style='width:23.12%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>C</span><span
  style='font-size:12.0pt;font-family:宋体'>：加盟店</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;
                    </span></p></td>
        </tr>
        <tr>
            <td colspan=6 valign=top style='width:30.84%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>申请人</span></p></td>
            <td colspan=10 valign=top style='width:31.5%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>联系电话</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p></td>
            <td colspan=11 valign=top style='width:37.66%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>联系传真</span></p></td>
        </tr>
        <tr style='height:17.55pt'>
            <td colspan=6 valign=top style='width:30.84%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.55pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>路新建</span></p></td>
            <td colspan=10 valign=top style='width:31.5%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.55pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>18638033309</span></p></td>
            <td colspan=11 valign=top style='width:37.66%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.55pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>0371-66517870</span></p></td>
        </tr>
        <tr>
            <td colspan=4 valign=top style='width:24.44%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>索赔窗膜型号</span></p></td>
            <td colspan=7 valign=top style='width:25.02%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>索赔窗膜卷轴号</span></p></td>
            <td colspan=10 valign=top style='width:25.54%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp; </span><span style='font-size:12.0pt;font-family:宋体'>幅宽</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>/</span><span
  style='font-size:12.0pt;font-family:宋体'>规格</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(</span><span
  lang=EN-US style='font-size:12.0pt;font-family:宋体'>英寸</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>)</span></p></td>
            <td colspan=6 valign=top style='width:24.98%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>&nbsp;&nbsp; </span><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>数量</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>/</span><span
  style='font-size:12.0pt;font-family:宋体'>长度</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'> (</span><span
  lang=EN-US style='font-size:12.0pt;font-family:宋体'>米</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>)</span></p></td>
        </tr>
        <tr style='height:18.05pt'>
            <td colspan=4 valign=top style='width:24.44%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>前档----G-70</span></p></td>
            <td colspan=7 valign=top style='width:25.02%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>B05N2528P001R004</span></p></td>
            <td colspan=2 valign=top style='width:4.58%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>20</span></p></td>
            <td colspan=2 valign=top style='width:5.32%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>336</span></p></td>
            <td colspan=2 valign=top style='width:5.32%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>40</span></p></td>
            <td colspan=3 valign=top style='width:5.32%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>60</span></p></td>
            <td width="47" valign=top style='width:5.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'><u>72</u>2</span></p></td>
            <td colspan=6 valign=top style='width:24.98%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:18.05pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>90</span></p></td>
        </tr>
        <tr style='height:17.85pt'>
            <td colspan=11 valign=top style='width:49.46%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:17.85pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>问题发生的施工店</span></p></td>
            <td colspan=16 valign=top style='width:50.54%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:17.85pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>问题</span><span style='font-size:12.0pt;
  font-family:宋体'>发现</span><span lang=EN-US style='font-size:12.0pt;font-family:
  宋体'>日期</span><span style='font-size:12.0pt;font-family:宋体'>（年</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>/</span><span
  style='font-size:12.0pt;font-family:宋体'>月</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>/</span><span
  style='font-size:12.0pt;font-family:宋体'>日）</span></p></td>
        </tr>
        <tr>
            <td colspan=11 valign=top style='width:49.46%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=16 valign=top style='width:50.54%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>2016/03/04</span></p></td>
        </tr>
        <tr>
            <td colspan=27 valign=top style='width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>问题发生部位</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(</span><span
  style='font-size:12.0pt;font-family:宋体'>相对于整卷窗膜而言</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>)</span></p></td>
        </tr>
        <tr style='height:21.1pt'>
            <td colspan=2 style='width:11.82%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>开始</span></p></td>
            <td colspan=2 style='width:12.62%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=5 style='width:12.42%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>中间</span></p></td>
            <td colspan=2 style='width:12.6%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=5 style='width:12.88%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>末尾</span></p></td>
            <td colspan=5 style='width:12.66%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=4 style='width:12.5%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>整卷</span></p></td>
            <td colspan=2 style='width:12.48%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:21.1pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
        </tr>
        <tr>
            <td colspan=27 valign=top style='width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>问题描述（其他请详细描述）</span></p></td>
        </tr>
        <tr style='height:26.25pt'>
            <td colspan=8 style='width:36.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>胶点</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(</span><span
  style='font-size:12.0pt;font-family:宋体'>膜上面呈现出圆形的亮点</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>)</span></p></td>
            <td colspan=2 style='width:7.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=16 style='width:48.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal><span style='font-size:12.0pt;font-family:宋体'>胶纹（透过膜看物体，物体有变形，好像波浪一样）</span></p></td>
            <td width="324" style='width:8.18%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
        </tr>
        <tr style='height:24.05pt'>
            <td colspan=8 style='width:36.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:24.05pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>杂质（膜里面有异物）</span></p></td>
            <td colspan=2 style='width:7.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:24.05pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
            <td colspan=16 style='width:48.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:24.05pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>折线（膜里有一条被褶的线）</span></p></td>
            <td width="324" style='width:8.18%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:24.05pt'><p class=MsoNormal align=center style='text-align:center'><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
        </tr>
        <tr style='height:26.25pt'>
            <td colspan=8 style='width:36.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>压痕（膜里面有被压的印子）</span></p></td>
            <td colspan=2 style='width:7.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
            <td colspan=16 style='width:48.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>褶痕（膜里面有被褶的印子）</span></p></td>
            <td width="324" style='width:8.18%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
        </tr>
        <tr style='height:26.25pt'>
            <td colspan=8 style='width:36.02%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>变色</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>/</span><span
  style='font-size:12.0pt;font-family:宋体'>退色（与正常颜色不一样或浅一些）</span></p></td>
            <td colspan=2 style='width:7.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
            <td colspan=16 style='width:48.8%;border-top:none;border-left:
  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>橘皮（看上去跟橘子皮一样的形状）</span></p></td>
            <td width="324" style='width:8.18%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
        </tr>
        <tr style='height:26.25pt'>
            <td width="57" style='width:8.02%;border:solid windowtext 1.0pt;border-top:
  none;padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>膜根</span></p></td>
            <td colspan=2 style='width:8.46%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=2 style='width:9.78%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>脱胶</span></p></td>
            <td colspan=3 style='width:9.78%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
            <td colspan=2 style='width:7.0%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>分层</span></p></td>
            <td width="94" style='width:6.44%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=3 style='width:8.34%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>发黄</span></p></td>
            <td colspan=4 style='width:8.32%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=3 style='width:8.88%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>色差</span></p></td>
            <td colspan=2 style='width:8.32%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=3 style='width:8.48%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>其他</span></p></td>
            <td width="324" style='width:8.18%;border-top:none;border-left:none;
  border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:26.25pt'><p class=MsoNormal align=center style='text-align:center'><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
        </tr>
        <tr>
            <td colspan=27 valign=top style='width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>发现问题</span><span style='font-size:
  12.0pt;font-family:宋体'>的</span><span lang=EN-US style='font-size:12.0pt;
  font-family:宋体'>阶段</span></p></td>
        </tr>
        <tr style='height:22.45pt'>
            <td colspan=3 valign=top style='width:16.48%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>施工前</span><span style='font-size:
  12.0pt;font-family:宋体'>安装人员发现</span></p></td>
            <td colspan=4 valign=top style='width:16.28%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>是</span></p></td>
            <td colspan=4 valign=top style='width:16.72%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-US
  style='font-size:12.0pt;font-family:宋体'>安装后</span><span style='font-size:
  12.0pt;font-family:宋体'>车主</span><span lang=EN-US style='font-size:12.0pt;
  font-family:宋体'>投诉</span></p></td>
            <td colspan=8 valign=top style='width:17.22%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal align=center style='text-align:center'><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
            <td colspan=5 valign=top style='width:17.52%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal align=center style='text-align:center'><span
  style='font-size:12.0pt;font-family:宋体'>安装日期</span></p></td>
            <td colspan=3 valign=top style='width:15.8%;border-top:none;
  border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
  padding:0cm 5.4pt 0cm 5.4pt;height:22.45pt'><p class=MsoNormal><span lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'></span></p></td>
        </tr>
        <tr style='height:156.0pt'>
            <td colspan=27 valign=top style='width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:156.0pt'><p class=MsoNormal><span lang=EN-US style='font-size:12.0pt;font-family:宋体'>其他需说明的事宜</span><span
  style='font-size:12.0pt;font-family:宋体'>：</span><Br /><Br /></p></td>
        </tr>
        <tr style='height:106.5pt'>
            <td colspan=27 valign=top style='width:100.0%;border:solid windowtext 1.0pt;
  border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:106.5pt'><p class=MsoNormal><span style='font-size:12.0pt;font-family:宋体'>注：完整填写上述各项</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>(</span><span
  style='font-size:12.0pt;font-family:宋体'>膜型号超过</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>3</span><span
  style='font-size:12.0pt;font-family:宋体'>个时请填写索赔产品明细</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>),</span><span
  style='font-size:12.0pt;font-family:宋体'>随同</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>A4</span><span
  style='font-size:12.0pt;font-family:宋体'>大小样膜（横裁</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>3</span><span
  style='font-size:12.0pt;font-family:宋体'>张</span><span lang=EN-GB
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'>A4</span><span
  style='font-size:12.0pt;font-family:宋体'>样片，并把问题点务必标注出来）一起寄往张家港康得新光电材料窗膜事业部有限公司。我司对样片进行检测，如有质量问题，我司通知客户将剩余的膜寄回。再对寄回的剩余膜做检测，如有问题，我司将按照实际数量进行</span><span
  style='font-size:12.0pt;font-family:宋体'>赔付</span><span style='font-size:12.0pt;
  font-family:宋体'>。如没有质量问题，跟客户做沟通，做退回处理。地址：张家港环保新材料产业园晨港路北侧，港华路西侧</span><span
  lang=EN-GB style='font-size:12.0pt;font-family:"Times New Roman","serif"'>,
                    215634 </span><span style='font-size:12.0pt;font-family:宋体'>联系人：瞿世华</span><span
  style='font-size:12.0pt;font-family:"Times New Roman","serif"'> <span
  lang=EN-GB>&nbsp;&nbsp;&nbsp;&nbsp;</span></span><span style='font-size:12.0pt;
  font-family:宋体'>电话：</span><span lang=EN-GB style='font-size:12.0pt;
  font-family:"Times New Roman","serif"'>0512-80153673 </span></p></td>
        </tr>
        <tr height=0>
            <td width=57 style='border:none'></td>
            <td width=47 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=77 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=37 style='border:none'></td>
            <td width=17 style='border:none'></td>
            <td width=17 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=94 style='border:none'></td>
            <td width=28 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=28 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=37 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=0 style='border:none'></td>
            <td width=1 style='border:none'></td>
            <td width=27 style='border:none'></td>
            <td width=47 style='border:none'></td>
            <td width=17 style='border:none'></td>
            <td width=47 style='border:none'></td>
            <td width=9 style='border:none'></td>
            <td width=16 style='border:none'></td>
            <td width=17 style='border:none'></td>
            <td width=324 style='border:none'></td>
        </tr>
    </table>
    <p class=MsoNormal style='line-height:150%'><span lang=EN-GB style='font-size:
12.0pt;line-height:150%;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></p>
    <p class=MsoNormal style='line-height:150%'><span lang=EN-GB style='font-size:
12.0pt;line-height:150%;font-family:"Times New Roman","serif"'>&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;                    </span><span
style='font-size:12.0pt;line-height:150%;font-family:宋体'>经销商签章</span><span
lang=EN-GB style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman","serif"'>:_______________</span></p>
    <p class=MsoNormal style='line-height:150%'><span lang=EN-GB style='font-size:
12.0pt;line-height:150%;font-family:"Times New Roman","serif"'>&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
style='font-size:12.0pt;line-height:150%;font-family:宋体'> 日期</span><span
lang=EN-GB style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman","serif"'>:_______________</span></p>
</div>
</body>
</html>
