<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false">
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>

    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>

    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="D:\zb.china-zoce.com\log\" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
        <param name="Header" value="&#xD;&#xA;----------------------header--------------------------&#xD;&#xA;" />
        <param name="Footer" value="&#xD;&#xA;----------------------footer--------------------------&#xD;&#xA;" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>

  <appSettings>
    <add key="Time" value="300" />
    <add key="DESString" value="RDX@ZBXT" />
    <add key="XMLPath" value="D:\Project Code\RDX\ZB\ZB.Web\XML\Word.xml" />
    <!--超级管理员角色组KEY值-->
    <add key="AdminRoleKey" value="1" />
    <add key="Company" value="北极光" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=127.0.0.1;Initial Catalog=BJG_DB;Persist Security Info=True;User ID=zb;Password=Hjm@15918776592" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7" />
    <httpRuntime targetFramework="4.7" executionTimeout="180" maxRequestLength="40960" requestValidationMode="2.0" useFullyQualifiedRedirectUrl="false" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-CN" />
    <authentication mode="Forms">
      <forms loginUrl="login.aspx" defaultUrl="member/home.aspx" name=".ASPXAUTH" protection="All"></forms>
    </authentication>
  </system.web>
  <location path="member">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
    <system.webServer>
        <staticContent>
            <!--mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" /-->
        </staticContent>
        <defaultDocument>
            <files>
                <clear />
                <add value="login.aspx" />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="D:\zb.china-zoce.com" path="D:\zb.china-zoce.com\404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
